.header {
  position: fixed;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.header-show {
  top: 0px;
}

.header-hide {
  top: -6rem;
}
